body {
    background-image: url(bg.gif);
    background-color: black;
    overflow-x: hidden;
}

h1  {
    color: aquamarine;
}

@keyframes colorshift {
    from {color: rgb(51, 184, 255);}
    to {color: lightblue;}
}

.wormed {
    margin: 20px 30px;
    animation-name: colorshift;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

a {
    font-weight: 600;
    color: rgb(101, 201, 255);
    background-color: transparent;
    text-decoration: underline;
    font-size: 20px;
    margin: 10px 15px 10px 30px;
    transition: .3s ease all;
    display: inline-block;
}

a:hover {
    color: lightblue;
    transform: translateY(-3px);
    transition: .3s ease all;
}

.rightside{
    margin: 0px 30px;
    display: flex;
    transform: translateY(200px);
    top: 50%;
    bottom: 50%;
}

audio{
    display: flex;
}

p {
    font-weight: 600;
    color: rgb(101, 201, 255);
    background-color: transparent;
    font-size: 20px;
    margin: 10px 15px 10px 30px;
    transition: .3s ease all;
    display: flex;
}

@keyframes moveright {
    from {transform: translateX(0px);}
    to {transform: translateX(175px);}
}

.moveside{
    animation-name: moveright;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.top{
    font-size: 18px;
    letter-spacing: 10px;
    margin: 0px 0px -20px 30px;
}

.bottom{
    font-size: 18px;
    letter-spacing: 10px;
    margin: -24px 0px 10px 30px;
}